:root {
    --green: #2ecc75;
    --white: #eee;
    --ff--:'Poppins',sans-serif;
}


/* ---GLOBAL--- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff--);
    text-decoration: none;
    background-color: black;
    

}

body {
    overflow-x: hidden;
}

span {
    color: var(--green);
}

p {
    width: 440px;
    max-width: 100%;
    color: var(--white);
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}



/* ---SECTION STARTS HERE--- */

.hero {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))black;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-width {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;

}

/* ---HEADER STARTS HERE--- */

header {
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

}

.portfolio {
    color: var(--white);
    font-size: 48px;
    display: inline-block;
    font-family: var(--ff--);
}


/* ---NAV STARTS HERE--- */

nav .hamb{
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: var(--white);
    position: absolute;
    cursor: pointer;
    display: none;
}

nav .hamb span {
    display: block;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform, opacity;

}

nav .hamb span:nth-child(2){
    margin: 7px 0px;

}

nav .nav-list {
    list-style: none;
}

nav .nav-list li {
    display: inline-block;
}

nav .nav-list li a {
    display: inline-block;
    color: var(--white);
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;

}


nav .nav-list li:not(:last-child) a:hover{
    color: var(--green);
    transition: .4s;

}

nav .nav-list li.btn a {
    display: inline-block;
    background: transparent;
    border: 2px solid var(--green);
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: var(--green);
    font-weight: 500;

}

nav .nav-list li.btn:hover a {
    background: var(--green);
    color: var(--white);
    border: 2px solid transparent;
    transition: .4s;

}

/* ---NAV ENDS HERE--- */

/* --- HEADER ENDS HERE--- */

.wrapper {
    height: 400px;
    width: 400px;
    position: absolute;
    right: 210px;
    top: 40px;
    border: 5px solid var(--white);
    border-radius: 50%;
    background: url(../assest/IMG_0880.JPG);
    background-size: 100% auto;
    background-position: center;
    margin: 100px auto;
    overflow: hidden;
    
}

.container {
    padding-top: 190px;

}

.container .hero-text {
    margin-bottom: 40px;
}

.container .hero-text h1{
    color: var(--white);
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;

}

.container .hero-text h3 {
    color: var(--white);
    font-weight: 400;
    font-size: 17px;

}

.social a {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: var(--white);
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 35px;
}

.social a:hover {
    transform: scale(1.1);
    background: var(--green);
    transition: .4s;
}


/* ---HEADER ENDS HERE--- */
hr{
    color: var(--green);
}
/* ---ARTICLE STARTS HERE--- */


.line {
    border-left: 8px solid var(--green);
    height: 400px;
    width: 2px;
    position: absolute;
    left: 44%;
    top: 10px;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: black;

}

.about img {
    height: auto;
    width: 400px;

}

.about-text {
    width: 550px;

}

.about-me{
    width: 1100px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.about-text h2 {
    color: var(--white);
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family: var(--ff--);

}

.about-text h5 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 0px 20px;


}